<form action="/job-openings" method="post">
  <label for="contactName">Contact Name</label>
  <input id="contactName" name="contactName" type="text">
  <label for="email">Contact Email</label>
  <input id="email" name="email" type="text">
  <label for="phoneNumber">Contact Phone Number</label>
  <input id="phoneNumber" name="phoneNumber" type="text">
  <label for="title">Job Title</label>
  <input id="title" name="title" type="text">
  <label for="description">Job Description</label>
  <input id="description" name="description" type="text">
  <button type="submit">Submit</button>
</form>